 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1186px;
}

.u-section-1 .u-shape-1 {
  width: 695px;
  height: 695px;
  margin: 165px 228px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 778px;
  height: 670px;
  margin: -781px 362px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 611px;
  height: 611px;
  background-image: url("images/IMG_20201204_160438.png");
  background-position: 50% 50%;
  margin: -591px auto 0 56px;
}

.u-section-1 .u-group-1 {
  width: 542px;
  min-height: 325px;
  background-image: none;
  height: auto;
  margin: -117px 140px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 16px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 23px auto 0 16px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 700;
  margin: 68px auto 0 6px;
  padding: 12px 38px 14px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    margin-right: 162px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -87px;
    margin-right: 103px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: 25px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -16px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-top: -626px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -426px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-1 {
    min-height: 357px;
    margin-top: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 47px;
    margin-left: 0;
  }
}